.config__ {
  &container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &list-wrapper {
    width: 100%;
    margin-right: -16px;
    padding-right: 16px;
    overflow: hidden auto;
  }

  &meta {
    text-align: start;
  }

  &wallpaper-preview {
    width: 80%;
    margin: 32px 0;
    box-shadow: 10px 10px 28px -4px rgba(0, 0, 0, 0.75);
  }
}
