.detail__ {
  &container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &header {
    width: 100%;
  }

  &description {
    width: calc(100% - 32px);
    margin: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &badge-wall {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &badge {
    margin: 6px 0 0 0;
  }

  &divider {
    width: calc(100% - 32px);
    margin: 12px;
  }
}
