.tasks__ {
  &container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow: auto;
    margin-right: -16px;
    padding-right: 16px;
  }

  &card__ {
    &container {
      height: 100px;
      width: calc(100% - 42px);

      margin: 4px;
      padding: 16px;

      border: 1px solid rgb(229, 230, 235);
      border-radius: 4px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }

    &header {
      width: 100%;
      margin: 0 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title {
        margin: 0 0 14px 0;
      }
    }

    &title {
      margin: 0 0 14px 0;
    }
  }
}
