.logo {
  cursor: pointer;

  span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 12px;
    transform: translateY(-9px);
    color: var(--color-text-2);
  }

}

.sider {
  &__title {
    border: black;
  }
}

.flex-container--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);

  &__button {
    width: 20px;
    height: 20px;
    flex: 40px 0 0;
    color: #108ee9;
    margin-top: 4px;
  }

  &__title {
    flex: 600px 0 0;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    font-size: 18px;
    color: #0f2942;
    font-weight: bold;

    &__back-button {
      width: 20px;
      height: 20px;
      color: #108ee9;
      flex: 40px 0 0;
      margin-top: 4px;
    }

    &__icon {
      margin-right: 6px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
    }

    &__text {
      transform: translateY(-1px);
    }
  }

  &__searchbar {
    max-width: 243px;
  }
}

.arco-menu-item-inner .anticon {
  margin-right: 16px;
}

.layout {
  overflow: hidden;

  &__content {
    margin: 16px;
    height: calc(100% - 90px);
  }
}

.icon-button {
  width: 78px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
