body {
  height: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  border: 1px solid var(--color-border);
  background: var(--color-fill-2);
}

.app .arco-layout-sider .logo {
  height: 32px;
  margin: 12px 8px;
}

.app .arco-layout-footer,
.app .arco-layout-content {
  color: var(--color-white);
  text-align: center;
  font-stretch: condensed;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .arco-layout-footer {
  color: var(--color-text-2);
  height: 68px;
  line-height: 48px;
  font-weight: 400;
  font-size: 14px;
}

.app .arco-layout-content {
  background: var(--color-bg-3);
  color: var(--color-text-2);
  font-weight: 400;
  font-size: 14px;
}

.app .arco-layout-header {
  height: 64px;
  line-height: 64px;
  background: var(--color-bg-3);
}

.app .arco-layout-header .trigger {
  margin-left: 20px;
}

.logo {
  cursor: pointer;
}

.logo span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 12px;
  transform: translateY(-9px);
  color: #383f4c;
}

.sider-title {
  border: black;
}
